* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header start */
.header {
    background: #000000;
    padding: 15px 0;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    gap: 80px;
}

.header__nav-logo {
    font-family: Arial;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header__nav-list_link {
    font-family: Arial;
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;

}

/* header end */

/* bg start */

.bg {
    background: url(./assets/img/bg.jpg) no-repeat center/cover;
    width: 100%;
    height: 820px;
}

.bg__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 145px;
}

.bg__content-p {
    font-family: Arial;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.bg__content-btn {
    padding: 10px 24px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    font-family: Arial;
    font-weight: 700;
    font-size: 35px;
    color: #000000;
    transition: 0.3s;
}


.bg__content-btn:hover {
    color: #FFFFFF;
    background: #000000;
}

/* bg end */

/* portfolio start */

.portfolio {
    background: #0E1C25;
    padding: 30px 0 112px;
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.portfolio__content-title {
    font-family: Arial;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
}

.portfolio__content-block {
    display: flex;
    gap: 106px;
    align-items: center;
    justify-content: center;
}


.portfolio__content-text {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 466px;
}

.portfolio__content-text_h {
    font-family: Arial;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
}

.portfolio__content-text_p {
    font-family: Arial;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 18px;
    text-align: justify;
}

/* portfolio end */

/* works start */

.works {
    background: #5C6B81;
    padding: 43px 0 70px;
}

.works__content {
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.works__content-title {
    font-family: Arial;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
}

.works__card-block {
    display: grid;
    grid-template-columns: repeat(3, 312px);
    grid-auto-rows: 550px;
    gap: 30px 126px;
    justify-content: center;
}

.works__card {
    background: #B12B06;
    border-radius: 10px;
    text-align: center;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.works__card-img img {
    width: 282px;
    height: 265px;
    border-radius: 10px;
}

.works__card-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.works__card-title {
    font-family: Arial;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 20px;
}

.works__card-desc {
    font-family: Arial;
    font-weight: 700;
    width: 264px;
    height: 112px;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}

.works__card-btn {
    width: 168px;
    height: 40px;
    margin: 0 auto;
    padding: 8px 24px;
    border-radius: 10px;
    border: none;
}

.works__card-btn_p {
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

/* works end */

/* footer start */

.footer {
    background: #000000;
    padding: 47px 0 55px;
}

.footer__block {
    display: flex;
    gap: 36px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__title {
    font-family: Arial;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}

.footer__icons {
    display: flex;
    gap: 200px;
}


/* footer end */